.splide {
    --container-width: 100%;
    --container-padding: 0.75rem;
}
.splide__track {
    touch-action: pan-y !important; /* Allows vertical page scroll, but intercepts horizontal swipes */
    -webkit-user-select: none;      /* Prevents text highlighting while swiping */
    user-select: none;
}




/* Item widths */

.splide__list {
    --gaps-width: calc(var(--gap) * (var(--items) - 1));
    --items-total-width: calc( 100% - var(--gaps-width) );
    --item-width: calc( var(--items-total-width) / var(--items));
    --items: var(--items-xs);
}

.splide__slide {
    width: var(--item-width);
}




/* Responsive */
@media (min-width:576px) {
    .splide__list {
        --items: var(--items-sm);
    }
    .splide[data-bootstrap-full-width="true"] {
        --container-width: 516px;
        --container-negative-width: calc(100% - var(--container-width));
        --container-padding: calc(var(--container-negative-width) / 2);
    }
}
@media (min-width:768px) {
    .splide__list {
        --items: var(--items-md);
    }
    .splide[data-bootstrap-full-width="true"] {
        --container-width: 696px;
    }
}
@media (min-width:992px) {
    .splide__list {
        --items: var(--items-lg);
    }
    .splide[data-bootstrap-full-width="true"] {
        --container-width: 936px;
    }
}
@media (min-width:1200px) {
    .splide__list {
        --items: var(--items-xl);
    }
    .splide[data-bootstrap-full-width="true"] {
        --container-width: 1116px;
    }
}
@media (min-width:1400px) {
    .splide__list {
        --items: var(--items-xxl);
    }
    .splide[data-bootstrap-full-width="true"] {
        --container-width: 1296px;
    }
}



/* Buttons */
.splideButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
.splideButtons button {
    background: none;
    border: none;
    padding: 0;
}
.splide:not(.is-overflow) .splideButtons {
  display: none;
}

/* Fix order bug */
.scrollCol {
    order: 99;
}
