.splide {
    --container-width: 100%;
    --container-padding: 0.75rem;
    --gap: 1rem;
    --items-xs: 1;
    --items-sm: var(--items-xs);
    --items-md: var(--items-sm);
    --items-lg: var(--items-md);
    --items-xl: var(--items-lg);
    --items-xxl: var(--items-xl);
    --container-width-full: 1320px;
    --container-width-content: 1296px;
    --container-width: MIN(100%, var(--container-width-content));
    --padding-full: 100% - var(--container-width-full);
    --padding-content: CALC(var(--container-width-full) - var(--container-width-content));
    --padding-total: CALC(var(--padding-full) + var(--padding-content));
    --container-padding: CALC(var(--padding-total) / 2);
}
.splide__track {
    touch-action: pan-y !important; /* Allows vertical page scroll, but intercepts horizontal swipes */
    -webkit-user-select: none;      /* Prevents text highlighting while swiping */
    user-select: none;
}




/* Item widths */

.splide__list {
    --gaps-width: calc(var(--gap) * (var(--items) - 1));
    --items-total-width: calc( 100% - var(--gaps-width) );
    --item-width: calc( var(--items-total-width) / var(--items));
    --items: var(--items-xs);
}

.splide__slide {
    width: var(--item-width);
}






/* Responsive */
@media (min-width:576px) {
    .splide__list {
        --items: var(--items-sm);
        --container-width-content: 516px;
        --container-width-full: 540px;
    }
}
@media (min-width:768px) {
    .splide__list {
        --items: var(--items-md);
        --container-width: 696px;
        --container-width-full: 720px;
    }
}
@media (min-width:992px) {
    .splide__list {
        --items: var(--items-lg);
        --container-width: 936px;
        --container-width-full: 960px;
    }
}
@media (min-width:1200px) {
    .splide__list {
        --items: var(--items-xl);
        --container-width: 1116px;
        --container-width-full: 1140px;
    }
}
@media (min-width:1400px) {
    .splide__list {
        --items: var(--items-xxl);
        --container-width: 1296px;
        --container-width-full: 1320px;
    }
}






/* Buttons */
.splideButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
.splideButtons button {
    background: none;
    border: none;
    padding: 0;
}
.splide:not(.is-overflow) .splideButtons {
  display: none;
}

/* Fix order bug */
.scrollCol {
    order: 99;
}
